<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/Wybory.js"></script>
</head>
<body>
<div class="Menu">
    <h1>Edycja rekord wiele do wiele</h1>
</div>
<div class="boxmore">
    <div class="more">
        <form id="Wybory" action="/editMoreToMore" method="POST">
            <div class="wartosci">
                <label style="padding: 10px">Id Wybory</label>
                <br>
                <input type="hidden" name="kandydatId"  value="<%=kandydatId %>">
                <input type="hidden" name="wyboryId" value="<%=wyboryId%>">
                <select name="wyboryIdprzy" >
                    <% for(var i = 0 ; i < wyboryList.length ; i++){ %>
                        <% if(wyboryList[i].idwybory == wyboryId){ %>
                        <option value=<%= wyboryList[i].idwybory %> selected><%= wyboryList[i].data %></option>
                        <% }else { %>
                        <option  value=<%= wyboryList[i].idwybory %>><%= wyboryList[i].data %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            <div class="wartosci">
                <label id="kandydatId" style="padding: 10px">Id Kandydat</label>
                <br>
                <select name="kandydatIdprzy" >
                    <% for(var i = 0 ; i < kandydatList.length ; i++){ %>
                        <% if(kandydatList[i].idkandydat == kandydatId){ %>
                        <option value=<%= kandydatList[i].idkandydat %> selected><%= kandydatList[i].imie +" " + kandydatList[i].nazwisko %></option>
                        <% }else { %>
                        <option value=<%= kandydatList[i].idkandydat %>><%= kandydatList[i].imie+" " + kandydatList[i].nazwisko %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            <div class="buttonMore">
                <input type="submit" value="Zapisz" class="action-btn"></input>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>