<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<div class="Menu">
    <h1>Panel Administratora</h1>
</div>
<div class="box">
    <div class="admin_list_more">
        <h2>Encje</h2>
        <ol>
            <li>Encja nr. 1
                <ul>
                    <li>Encja powiazana nr. 1</li>
                    <li>Encja powiazana nr. 2</li>
                </ul>
            </li>
            <li>Encja nr. 2
                <ul>
                    <li>Encja powiazana nr. 1</li>
                    <li>Encja powiazana nr. 2</li>
                </ul>
            </li>
            <li>Encja nr. 3
                <ul>
                    <li>Encja powiazana nr. 1</li>
                    <li>Encja powiazana nr. 2</li>
                </ul>
            </li>
        </ol>
        <button><a href="/PanelAdministratora?page_last=0&page_next=10">Panel administratora Pojedyncze encje</a></button>
    </div>
    <div class="admin_table1">
        <table>
            <tr>
                <th>Id Candidate</th>
                <th>Imie</th>
                <th>NrLegitymacjiPoselskiej</th>
            </tr>
            <% for( var i = page_last ; i <= page_next - 1 ; i++) { %>
                <% if (i <= wyborcaKandydat.length - 1){ %>
                    <tr>
                        <td><%= wyborcaKandydat[i].idkandydat %></td>
                        <td><%= wyborcaKandydat[i].imie %></td>
                        <td><%= wyborcaKandydat[i].nrLegitymacjiPoselskiej %></td>
                    </tr>
                <% }else{ %>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
            <% }} %>
        </table>
    </div>
    <div class="admin_table1">
        <table>
            <tr>
                <th>Id kandydata</th>
                <th>Id wybory</th>
            </tr>
            <% for( var i = page_last ; i <= page_next - 1 ; i++) { %>
                <% if (i <= wyborcaKandydat.length - 1){ %>
                    <tr>
                        <td><%= wyborcaKandydat[i].idkandydat %></td>
                        <td><%= wyborcaKandydat[i].idwybory %></td>
                    </tr>
                <% }else{ %>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                    </tr>
            <% }} %>
        </table>
    </div>
    <div class="admin_table1">
        <table>
            <tr>
                <th>Id wybory</th>
                <th>Data</th>
                <th>Frekwencja</th>
            </tr>
            <% for( var i = page_last ; i <= page_next - 1 ; i++) { %>
                <% if (i <= wyborcaKandydat.length - 1){ %>
                    <tr>
                        <td><%= wyborcaKandydat[i].idwybory %></td>
                        <td><%= wyborcaKandydat[i].data %></td>
                        <td><%= wyborcaKandydat[i].frekwencja %></td>
                        <td class="actions">
                            <a href="/SzczegolyWieleDoWiele?kandydat_id=<%= wyborcaKandydat[i].idkandydat %>&wyborca_id=<%= wyborcaKandydat[i].idwybory %>">Szczegoly</a>
                            <a href="/EdycjaWieleDoWiele?kandydat_id=<%= wyborcaKandydat[i].idkandydat %>&wyborca_id=<%= wyborcaKandydat[i].idwybory %>">Edytuj</a>
                            <a href="/UsunWieleDoWiele?kandydat_id=<%= wyborcaKandydat[i].idkandydat %>&wyborca_id=<%= wyborcaKandydat[i].idwybory %>">Usuń</a>
                        </td>
                    </tr>
                <% }else{ %>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                <% }}%>
        </table>
    </div>
</div>
<div class="admin_button">
    <table>
        <tr>
            <th><a href="/PanelAdministratoraWieledoWiele?page_last=0&page_next=10">0</a></th>
            <th><a href="/PanelAdministratoraWieledoWiele?page_last=10&page_next=20">10</a></th>
            <th><a href="/PanelAdministratoraWieledoWiele?page_last=20&page_next=30">20</a></th>
            <th><a href="/PanelAdministratoraWieledoWiele?page_last=30&page_next=40">30</a></th>
            <th><a href="/PanelAdministratoraWieledoWiele?page_last=40&page_next=50">40</a></th>
        </tr>
    </table>
    <br>
    <button><a href="/NowyRekordWieledoWiele">Nowy rekord</a></button>
</div>
</body>
</html>