<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<div class="Menu">
    <h1>Panel Administratora</h1>
</div>
<div class="admin_list">
    <h2>Encje</h2>
    <ol>
        <li><a href="/PanelAdministratora?page_last=0&page_next=10">Wybory</a></li>
        <li><a href="/PanelAdministratoraKandydat?page_last=0&page_next=10">Candidate</a></li>
        <li><a href="/PanelAdministratoraUser?page_last=0&page_next=10">User</a></li>
        <li>Kolejna encja</li>
    </ol>
    <button><a href="/PanelAdministratoraWieledoWiele?page_last=0&page_next=10">Panel administratora wiele do wiele Candidate</a></button>
</div>
<div class="admin_table">
    <table>
        <tr>
            <th>Id kandydat</th>
            <th>Imie</th>
            <th>Numer Dowodu</th>
        </tr>
        <% for( var i = page_last ; i <= page_next-1 ; i++) { %>
            <% if (i <= userList.length-1){ %>
                <tr>
                    <td><%= userList[i].idUser %></td>
                    <td><%= userList[i].imie %></td>
                    <td><%= userList[i].nrDowodu %></td>
                    <td class="actions">
                        <a href="/SzczegolyUser?user_id=<%= userList[i].idUser %>">Szczegoly</a>
                        <a href="/EdycjaUser?user_id=<%= userList[i].idUser %>">Edytuj</a>
                        <a href="/UsunUser?user_id=<%= userList[i].idUser %>">Usuń</a>
                    </td>
                </tr>
            <% }else{ %>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
        <% }} %>
    </table>
</div>
<div class="admin_button">
    <table>
        <tr>
            <th><a href="/PanelAdministratoraUser?page_last=0&page_next=10">0</a></th>
            <th><a href="/PanelAdministratoraUser?page_last=10&page_next=20">10</a></th>
            <th><a href="/PanelAdministratoraUser?page_last=20&page_next=30">20</a></th>
            <th><a href="/PanelAdministratoraUser?page_last=30&page_next=40">30</a></th>
            <th><a href="/PanelAdministratoraUser?page_last=40&page_next=50">40</a></th>
        </tr>
    </table>
</div>
</body>
</html>