<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<div class="Menu">
    <h1>Panel Administratora</h1>
</div>
    <div class="admin_list">
        <h2>Encje</h2>
        <ol>
            <li>Wybory</li>
            <li>Kandydat</li>
            <li>Kolejna encja</li>
            <li>Kolejna encja</li>
        </ol>
        <button><a href="../PanelAdministratoraWieledoWiele.ejs">Panel administratora wiele do wiele</a></button>
    </div>
    <div class="admin_table">
        <table>
            <tr>
                <th>Id wybory</th>
                <th>Data</th>
                <th>Frekwencja</th>
            </tr>
            <% wyborcaList.forEach(function(wyborca){ %>
            <tr>
                <td><a href="/Edycja?wyborca_id=<%= wyborca.id %>&data=<%= wyborca.data%>&frekwencja=<%= wyborca.frekwencja%>&ING=<%= wyborca.ING%>&godzinaR=<%= wyborca.godzinaR%>&godzinaZ=<%= wyborca.godzinaZ%>"><%=wyborca.id%></a></td>
                <td><%= wyborca.data %></td>
                <td><%= wyborca.frekwencja %></td>
            </tr>
            <% }) %>
        </table>
    </div>
<div class="admin_button">
    <button><a href="../Szczegoly.html">Szczegoly</a></button>
    <button><a>Usun</a></button>
    <table>
        <tr>
            <th><a href="next">10</a></th>
            <th><a href="next">20</a></th>
            <th><a href="next">30</a></th>
            <th><a href="next">40</a></th>
        </tr>
    </table>
    <br>
    <button><a href="/NowyRekord">Nowy rekord</a></button>
    <button><a href="Edycja.ejs">Edycja</a></button>
</div>
</body>
</html>