<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegoly</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<h1>Szczegoly</h1>
<h2 style="text-align: center">Wybory</h2>
<div class="more">
    <div class="przypisy">
    <label>Id Wybory</label>
    <br>
    <label>Data</label>
    <br>
    <label>Frekwencja</label>
    <br>
    <label>Godzina rozpoczecia</label>
    <br>
    <label>Godzina zakonczenia</label>
    <br>
    <label>Ilosc nie waznych glosow</label>
    </div>
    <div class="wartosci">
    <label><%=wyborcaId%></label>
    <br>
    <label><%= wyborcaList[0].data%></label>
    <br>
    <label><%= wyborcaList[0].frekwencja%></label>
    <br>
    <label><%= wyborcaList[0].godzinaR%></label>
    <br>
    <label><%= wyborcaList[0].godzinaZ%></label>
    <br>
    <label><%= wyborcaList[0].ING%></label>
    </div>
</div>
<div class="buttonMore">
    <button><a href="/PanelAdministratora?page_last=0&page_next=10">Powrot</a></button>
</div>
</body>
</html>