<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegoly</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<h1>Szczegoly</h1>
<div class="box">
    <div class="more">
        <%var indexkandydat = kandydatList.findIndex( x => x.idkandydat == kandydatId);%>
        <%var indexwyborca = wyborcaList.findIndex( x => x.idwybory == wyborcaId);%>
        <div class="przypisy">
            <label>Data</label>
            <br>
            <label>Frekwencja</label>
            <br>
            <label>Godzina rozpoczecia</label>
            <br>
            <label>Godzina zakonczenia</label>
            <br>
            <label>Ilosc nie waznych glosow</label>
        </div>
        <div class="wartosci">
            <label><%= wyborcaList[indexwyborca].data%></label>
            <br>
            <label><%= wyborcaList[indexwyborca].frekwencja%></label>
            <br>
            <label><%= wyborcaList[indexwyborca].godzinaR%></label>
            <br>
            <label><%= wyborcaList[indexwyborca].godzinaZ%></label>
            <br>
            <label><%= wyborcaList[indexwyborca].ING%></label>
        </div>
    </div>
    <div class="more">
    <div class="przypisy">
        <label>Id wyborca</label>
        <br>
        <label>Id kandydata</label>
    </div>
    <div class="wartosci">
        <label><%=wyborcaId%></label>
        <br>
        <label><%=kandydatId%></label>
    </div>
</div>
<div class="more">
<div class="przypisy">
    <label>Miejsce</label>
    <br>
    <label>Imie</label>
    <br>
    <label>Nazwisko</label>
    <br>
    <label>Nr Legitymacji Poselskiej</label>
    <br>
    <label>Id Lista</label>
    <br>
    <label>Id Ugrupowanie</label>
    <br>
    <label>Id Kandyduje Do</label>
</div>
<div class="wartosci">
    <label><%= kandydatList[indexkandydat].miejsce %></label>
    <br>
    <label><%= kandydatList[indexkandydat].imie %></label>
    <br>
    <label><%= kandydatList[indexkandydat].nazwisko %></label>
    <br>
    <label><%= kandydatList[indexkandydat].nrLegitymacjiPoselskiej %></label>
    <br>
    <label><%= kandydatList[indexkandydat].idLista %></label>
    <br>
    <label><%= kandydatList[indexkandydat].idUgrupowanie %></label>
    <br>
    <label><%= kandydatList[indexkandydat].idKandydujeDo %></label>
</div>
</div>
</div>
<div class="buttonMore">
    <button><a href="/PanelAdministratoraWieledoWiele?page_last=0&page_next=10">Ok</a></button>
</div>
</body>
</html>